:host {
  --cell-size: 80px;
  --gap-size: 10px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-board {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  border: 10px solid #5C2B29;

  .board-row {
    display: flex;
    gap: 10px;
  }

  .board-cell {
    background-color: #f0e9e1;
    width: var(--cell-size);
    height: var(--cell-size);
    position: relative;
  }

  .gap {
    background-color: #bbbbbb;
    position: absolute;

    &.wall {
      background-color: #5C2B29;
    }

    &:hover:not(.wall) {
      background-color: #e2d8cf;
    }
  }

  .gap-y {
    width: 10px;
    right: -10px;
    height: var(--cell-size);
  }

  .gap-x {
    height: 10px;
    bottom: -10px;
    width: var(--cell-size);
  }

  .pawn {
    position: absolute;
    width: var(--cell-size);
    height: var(--cell-size);

    &.Player1 {
      background-color: #b5651d;
    }
    &.Player2 {
      background-color: #5b3926;
    }
  }
}
