<div class="action-buttons">
	<button class="game-action-btn"
	        [disabled]="!store.previousState()"
	        (click)="store.undo()">Undo</button>
</div>

<div class="game-board">
  @for (row of store.board(); track rowIndex; let rowIndex = $index) {
    <div class="board-row">
      @for (cell of row; track cellIndex; let cellIndex = $index) {
        <div class="board-cell"
             (click)="store.movePlayer(store.currentPlayer(), {x: cellIndex, y: rowIndex})">
	        @if (rowIndex < (row.length - 1)) {
	          <div class="gap gap-x"
	               [class.wall]="cell.walls.x"
	               (click)="store.placeWall({x: cellIndex, y: rowIndex, axis: 'x'}); $event.stopPropagation()"></div>
	        }
		      @if (cellIndex < (store.board().length -1)) {
			      <div class="gap gap-y"
			           [class.wall]="cell.walls.y"
			           (click)="store.placeWall({x: cellIndex, y: rowIndex, axis: 'y'}); $event.stopPropagation();"></div>
		      }
        </div>
      }
    </div>
  }

  @for (player of store.players(); track $index) {
    <div class="player"
         [class]="player"
         [class.active]="store.currentPlayer() === player"
         [style.top]="store.getPlayerPosition(player).y * (cellSize + 10) + 5 + 'px'"
         [style.left]="store.getPlayerPosition(player).x * (cellSize + 10) + 5 + 'px'">
    </div>
  }
</div>
