:host {
  --cell-size: 80px;
  --gap-size: 10px;
  --player-1-color: #b5651d;
  --player-2-color: #5b3926;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.control-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc((var(--cell-size) + var(--gap-size)) * 9);
  margin-bottom: 20px;

  .game-action-btn {
    padding: 15px 50px;
    border-radius: 8px;
    font-size: 15px;
  }

  .remaining-walls {
    display: flex;
    gap: 8px;
  }

  .remaining-wall {
    height: 40px;
    width: 8px;

    &.Player1 {
      background-color: var(--player-1-color)
    }
    &.Player2 {
      background-color: var(--player-2-color);
    }
  }
}


.game-board {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  border: 10px solid #5C2B29;

  .board-row {
    display: flex;
    gap: 10px;
  }

  .board-cell {
    background-color: #f0e9e1;
    width: var(--cell-size);
    height: var(--cell-size);
    position: relative;

    &:hover {
      cursor: pointer;
    }
  }

  .gap {
    background-color: #e2d8cf;
    position: absolute;

    &.gap-y {
      width: 10px;
      right: -10px;
      height: var(--cell-size);
    }

    &.gap-x {
      height: 10px;
      bottom: -10px;
      width: var(--cell-size);
    }

    &:hover {
      background-color: #d6c9c1;
    }

    &.wall {
      background-color: #5C2B29;
      &:hover {
        cursor: default;
      }
    }
  }

  .player {
    position: absolute;
    width: calc(var(--cell-size) - 10px);
    height: calc(var(--cell-size) - 10px);
    border-radius: 8px;

    &.active {
      &::after {
        content: '?';
        position: absolute;
        font-size: 30px;
        color: #ffffff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &.Player1 {
      background-color: var(--player-1-color)
    }
    &.Player2 {
      background-color: var(--player-2-color);
    }
  }
}
